<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home page</title>
  <link rel="stylesheet" href="static/css\style1.css">
</head>

<body>
  <header class="header">
    <nav class="nav">
      <a href="#" class="nav_logo">Pixel Perfection</a>

      <ul class="nav_items">
        <li class="nav_item">
          <a href="#" class="nav_link">Home</a>
          <a href="#" class="nav_link">About us</a>
          <a href="#" class="nav_link">My Images</a>
          <a href="#" class="nav_link">Contact</a>
        </li>
      </ul>
      <form action="index.html">
      <button class="button" id="form-open">Logout</button>
      </form>
    </nav>
  </header>
  <section class="upload">
    <div class="image">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNQnhTOOhB6e8SCDuQ_f_mfMhFCnDY4FThYNuEYK2B76AVyHK646XSrTRsquw&s" />
    </div>
    <div class="main">
      <div class="tool__header">
        <h1 class="tool__header__title">Upload Your Images</h1>
        <h2 class="tool__header__subtitle">See the Magic</h2>
      </div>

      <form action="#">
        <div class="uploader">
          <input type="file" id="myFile" name="filename">
          <a href="/predict" ><button type="button" class="btn btn-primary">Submit</button></a>
        </div>
  </section>
  </form>